fastapi~=0.70.0
pydantic~=1.8.2
pytest~=6.2.5
sqlalchemy~=1.4.26
tqdm~=4.62.3
python-dotenv~=0.19.1
kazoo~=2.8.0
grpclib~=0.4.2
git+https://github.com/LinkTsang/python-betterproto@qtask#egg=betterproto